@model SalesMvc.Models.ViewModels.SalesViewModel
@{
    ViewData["Title"] = "Sales";
}


<div>
    <h2>Sales</h2>
    <form asp-action="Index">
           <label asp-for="InitialDate" class="control-label form"  ></label>
           <input asp-for="InitialDate" class="form-control form"  />
           <label asp-for="FinalDate" class="control-label form"  ></label>
           <input asp-for="FinalDate" class="form-control form"  />
           <input class="btn btn-light mt-2 form" type="submit" value="Find"/>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x=> x.Sale.Date)</th>
                <th>@Html.DisplayNameFor(x=> x.Sale.Amount)</th>
                <th>@Html.DisplayNameFor(x=> x.Sale.Status)</th>
                <th>@Html.DisplayNameFor(x=> x.Sale.Seller.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sales)
            {
                <tr>
                    <td>@Html.DisplayFor(x=> item.Date)</td>
                    <td>@Html.DisplayFor(x=> item.Amount)</td>
                    <td>@Html.DisplayFor(x=> item.Status)</td>
                    <td>@Html.DisplayFor(x=> item.Seller.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
