@model IEnumerable<SalesMvc.Models.SalesRecord>;
@{
    ViewData["Title"] = "Sales";
}


<div>
    <h2>Sales</h2>
    <form asp-action="Index">
           <input type="date" class="form-control"  name="minDate" id="minDate"/>
           <input type="date" class="form-control"  name="maxDate" id="maxDate"/>
           <input class="btn btn-light mt-2 form" type="submit" value="Find"/>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x=> x.Date)</th>
                <th>@Html.DisplayNameFor(x=> x.Amount)</th>
                <th>@Html.DisplayNameFor(x=> x.Status)</th>
                <th>@Html.DisplayNameFor(x=> x.Seller.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x=> item.Date)</td>
                    <td>@Html.DisplayFor(x=> item.Amount)</td>
                    <td>@Html.DisplayFor(x=> item.Status)</td>
                    <td>@Html.DisplayFor(x=> item.Seller.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
